@import "~bulma/bulma.sass";
@import "./index.scss";
@import "./profile.scss";


html{
    height: 100%;
    background-color: rgb(180, 180, 180);
}

body{
    width: 700px;
    @include mobile {
        width: 300px;
    }
    height: 100%;
    margin-left: auto;
    margin-right: auto;
}