@import "./variables.scss";

.index {
    .title {
        font-size: 100px;
        color: $grey-personal;
        @include mobile {
            font-size: 40px;
        }
    }

    .homeBoxLogin {
        // width: 500px;
        background-color: $grey-personal;
    }

    a {
        color: $grey-personal;
    }
}
